$bg-color: #dfdfdf

$cor-vermelho: #f13d0a
$cor-laranja: #ef8031
$cor-amarelo: #f9b821
$cor-roxo: #a44ba7
$cor-roxo-2: #965195
$cor-roxo-3: #5d005c

$gradiente-vermelho-amarelo: linear-gradient(180deg, rgb(241, 61, 10) 0%, rgb(249, 184, 33) 100%)
$gradiente-roxo-roxo: linear-gradient(180deg, rgb(150, 81, 149) 0%, rgb(164, 75, 167) 100%)
$gradiente-roxo-amarelo: linear-gradient(180deg, rgb(150, 81, 149) 0%, rgb(252, 183, 32) 100%)
$gradiente-roxo-vermelho: linear-gradient(180deg, rgb(93, 0, 92) 0%, rgb(241, 61, 10) 100%)
$gradiente-vermelho-amarelo: linear-gradient(180deg, rgb(241, 61, 10) 0%, rgb(249, 184, 33) 100%)
$gradiente-roxo-roxo-2: linear-gradient(180deg, rgb(133, 47, 132) 0%, rgb(151, 68, 154) 100%)

$cor-1: $cor-vermelho
$cor-2: $cor-laranja
$cor-3: $cor-amarelo
$cor-4: $cor-roxo
$cor-5: $cor-roxo-2
$cor-6: $cor-roxo-3

$gradiente-1: $gradiente-vermelho-amarelo
$gradiente-2: $gradiente-roxo-roxo
$gradiente-3: $gradiente-roxo-amarelo
$gradiente-4: $gradiente-roxo-vermelho
$gradiente-5: $gradiente-vermelho-amarelo
